.lightning{
    width: 100em;
    position: absolute;
    z-index: -1;
}
html{
    overflow: hidden;
}
body{
    margin-top: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;

}
.parallax-wrapper{
    width: 100vw;
    height: 100vh;
    padding-top:20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.parallax-wrapper::before{
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background: url("/assets/lightning.mp4");
    background-size: cover;
    background-position-x: center;
    position:absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2)
}



.logo{
    position:absolute;
    z-index: 1;
}


.regular-wrapper{
    width: 100vw;
    height: 80vh;
    padding-top:20vh;
    background-color: #F0F0C9;
    background-image: url("/images/river.jpg");
    background-size: 35% 85%;
    background-position-x: 300px;
    background-position-y: center;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;

}

.content{
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: #aaa;
}