body{
    background-color: white;
}
header{
    display:block;
    float: left;
    text-align: center;
    width:  10em;
    height: 40em;
    background-color: #49a7c1;
    border-radius: 4px;
    line-height: 6em;
    position: fixed;
}
header img{
    padding-top: 10px;
    max-width: 9em;
}
header a{
margin: 20px;
font-size: 3em;
text-decoration: none;
color:#060958 ;
}
main{
    padding-left: 10em;
}
.top-content{
    display: inline-block;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
    width: 70%;
}
.top-content img{
    max-width: 60%;
    border-radius: 3px;
}
.top-content p {
    max-width: 50%;
    margin: auto;
}




.play-content{
    background-color: blanchedalmond;
    display: block;
    max-width: 50%;
    float: left;
    padding-top: 5%;
}
.play-content img{
    max-width: 80%;
}
.play-content h1{
    text-align: center;
}
.play-content p{
    padding-left: 10%;
}



.work-content{
    background-color: blanchedalmond;
    display: block;
    max-width: 50%;
    float: right;
    padding-top: 5%;
    
}
.work-content img{
    max-width: 80%;
}
.work-content h1{
    text-align: center;
}
.work-content p {
    padding-left: 10%;
}