
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Share+Tech+Mono&display=swap');body{
    background-color: black;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: 'Share Tech Mono', monospace;
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
}
h1{
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    color: antiquewhite;
    text-align: center;
}

.logo img{
    height: 8vh;
}
.main-nav{
    margin: 0;
    
    display: flex;
    justify-content:space-between;
    width: 50%;
    height: 100%;
}
.main-nav a{
    text-decoration: none;
    font-size: 4vh;
    height: 100%;
}
.main-nav li{
    list-style: none;
    height: 100%;
}
.active{
    background: linear-gradient(-15deg, #E07A5F, #6010ff);
    height: 100%;
    padding-top: 6vh;
    padding-bottom: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;

}


.cover{ 
    padding: 0;
    width: 100%;
    transform: scaleX(-1);
}
.you{
    padding-top: 400px;
    width: 100%;
    
    z-index: +1;
}
p{
    font-size: 30px;
    text-align: center;
    width: 50%;
    padding-top: 100px;
    margin: 0 auto;
}
.upper{
    position: relative;
}
.lower{
    padding-top: 100px;
}
.lower h1{
    color: #E07A5F;
}
.button {
    position: absolute;

    background-image: url("images/Removal-476.png") ;
    background-size: cover;
    width: 300px;
    font-size: 2rem;
    top: 10%;
    right: 20%;
}
.button:hover{
    right: 21%;
    top: 9%;
}
footer{
    color: white;
    padding: 25px 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .social-images a img{
    padding-top: 15px;
    max-width: 150px;
  }
  h3{
    text-align: center;
  }
  
  .contact{
    flex: .3;
  }
  .copyright{
    order: 3;
    flex: .3;
  }
  address,footer p{
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
  }